
.contenu
{
    margin-top: 50px;
}

/* Top banner after menu */
.start{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    overflow: auto;
    text-align:center;
}



/*Mon tableau de responsable*/
.tableau table {
    border-collapse: collapse;
}
.tableau th {
    text-align: center;
    background-color: #004A73;
    color: white;
}

.tableau tr {
     background-color:white;

}

.tableau th, td {
    padding: 15px;
    text-align: left;
}





.tableau{
    margin-top:10px;
    text-align:center;
    overflow-x:auto;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    
}


/*Taille bouton page admin*/
.taille-bouton{
    height: 150px;
    width: 150px;
    margin-left: 25px;
}

.taille-bouton-add{
     height: 150px;
    width: 150px;
    margin-left:120px;
    margin-bottom:20px;

}

#logo
{
    padding-right: 10px;
}

.start-content{
    color: #004A73;
    text-align: left;
    margin-top: 20px;
}

.start-content-white{
    color: #fff;
    margin-left:15px;
    text-align:left;
}

.start-total{
    display: inline-block;
}

.start-intermediaire{
    display:flex;
    padding-bottom:15px;
}

/* arrow */
.arrow-down-white {
	width: 0;
    margin: auto;
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #fff;
}
.arrow-down-blue {
	width: 0;
    margin: auto;
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #004A73;
}

/* Number div */

.icon-number-1{
	background-image: url("../Images/Icons/Numbers/number-1-icon.png");
	background-size: 100px 100px;
    height:100px;
    width:100px;
    margin-top:10px;
    min-width:100px;
    background-repeat: no-repeat;
}

.icon-number-2{
	background-image: url("../Images/Icons/Numbers/number-2-icon.png");
	background-size: 100px 100px;
    height:100px;
    width:100px;
    margin-top:10px;
    min-width:100px;
    background-repeat: no-repeat;
}


/* deuxième partie page acceuil  */
.etape1{
    margin:auto;
    width:90%;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    overflow: auto;
    color:#fff;
    background-color: #004A73;
}

/*Select modification*/
.select-custom {
  color:white;
  padding:12px;
  width:auto;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom:15px;
  
}

#select-blue {
  background-color:#004A73;
  width:100%;
}



select-custom:focus, select:active {
  border:0;
  outline:0;
}

/* Inscription étape 2*/
.white-separator{
    width:100%;
    height:2px;
    background-color: rgba(255, 255, 255, 1);
}

.titre-form-blanc
{
    color: #fff;
    font-size:25px;
    font-weight:bold;
    text-align:left;
}

.form-content{
    display:flex;
    width:100%;
}

.form-content-mid{
    width: 50%;
    padding:10px;
}

.form-side-by-side{
    display:flex;
    width:100%
}


    