
.contenu
{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family:'Kozuka Gothic Pr6N'
}

/* Top banner after menu */
.start{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    overflow: auto;
    text-align:center;
}



/*Mon tableau de responsable*/
.tableau table {
    border-collapse: collapse;
}
.tableau th {
    text-align: center;
    background-color: #004A73;
    color: white;
}

.tableau tr {
     background-color:white;

}

.tableau th, td {
    padding: 15px;
    text-align: left;
}





.tableau{
    margin-top:10px;
    text-align:center;
    overflow-x:auto;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    
}


/*Taille bouton page admin*/
.taille-bouton{
    height: 150px;
    width: 150px;
    margin-left: 25px;
}

.taille-bouton-add{
     height: 150px;
    width: 150px;
    margin-left:430px;
    margin-top:20px;
    margin-bottom:15px;
}

#logo
{
    padding-right: 10px;
}

.start-content{
    color: #004A73;
    text-align: left;
    margin-top: 20px;
}

.start-content-white{
    color: #fff;
    margin-left:15px;
    text-align:left;
}

.start-total{
    display: inline-block;
}

.start-intermediaire{
    display:flex;
    padding-bottom:15px;
}


.retour-liste{

    width:16%;
    margin-left:25px;
    margin-top:5px;
    margin-bottom:15px;

}

/* arrow */
.arrow-down-white {
	width: 0;
    margin: auto;
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #fff;
}
.arrow-down-blue {
	width: 0;
    margin: auto;
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #004A73;
}

/* Number div */

.icon-number-1{
	background-image: url("../Images/Icons/Numbers/number-1-icon.png");
	background-size: 100px 100px;
    height:100px;
    width:100px;
    margin-top:10px;
    min-width:100px;
    background-repeat: no-repeat;
}

.icon-number-2{
	background-image: url("../Images/Icons/Numbers/number-2-icon.png");
	background-size: 100px 100px;
    height:100px;
    width:100px;
    margin-top:10px;
    min-width:100px;
    background-repeat: no-repeat;
}


/* deuxième partie page acceuil  */
.etape1{
    margin:auto;
    width:90%;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    overflow: auto;
    color:#fff;
    background-color: #004A73;
}

/*Select modification*/
.select-custom {
  color:white;
  padding:12px;
  width:auto;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom:15px;
  
}

#select-blue {
  background-color:#004A73;
  width:100%;
}


select-custom:focus, select:active {
  border:0;
  outline:0;
}

/* Inscription étape 2*/
.white-separator{
    width:100%;
    height:2px;
    background-color: rgba(255, 255, 255, 1);
}
.white-separator-little{
    width:100%;
    height:1px;
    background-color: rgba(255, 255, 255, 1);
}

.titre-form-blanc
{
    color: #fff;
    font-size:25px;
    font-weight:bold;
    text-align:left;
}

.sous-titre-form-blanc
{
    color: #fff;
    font-size:15px;
    font-weight:bold;
    text-align:left;
    margin-left:30px;
}

.form-content{
    display:flex;
    width:100%;
}

.form-content-mid{
    width: 50%;
    padding:10px;
}

.form-side-by-side{
    display:flex;
    width:100%
}

.form-desc
{
    color:white;
    width:100%;
    font-size:15px;
    font-weight:bold;
    text-align:left;
}


.form-compétition
{
    width: 100%;
    margin-top:10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top:1px solid white;
}

.form-submit-title
{
    color: #fff;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    width:100%;
    border-bottom:2px solid white;
    margin-bottom:10px;
}

.autorisation-parentale{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    min-width:225px;
    width:225px;
    padding:20px;
    margin-top:20px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border:1px solid white;
    margin-bottom:10px;
}

.admin-block
{
    background-color:white;
    padding:20px;
    margin:10px;
    width:300px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 3px 2px 3px #00304d;
    -moz-box-shadow:  0px 3px 2px 3px #00304d;
    -o-box-shadow: 0px 3px 2px 3px #00304d;
    box-shadow:  0px 3px 2px 3px #00304d;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.admin-block-conteneur-alignement
{
    display:inline-block;
}

.admin-block-conteneur
{
    width:100%;
    display:flex;
}

.admin-block:hover
{
    cursor:pointer;
    background-color:#eef8ff;
    -webkit-box-shadow: 0px 3px 2px 3px #004a73;
    -moz-box-shadow:  0px 3px 2px 3px #004a73;
    -o-box-shadow: 0px 3px 2px 3px #004a73;
    box-shadow:  0px 3px 2px 3px #004a73;
    
}

.admin-block-titre
{
    color: #00304d;
    font-size:20px;
    font-stretch:condensed;
    text-align:center;
    width:100%;
    padding-bottom:10px;
    border-bottom: 1px solid #00304d;
}

.admin-block-desc
{
    color: #00304d;
    font-size:12px;
    font-stretch:condensed;
    text-align:center;
    width:100%;
}

.admin-block-image{
    margin:20px;
    width:100px;
    height:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
}

.admin-block-image img
{
    height:100px;
    width:100px;
}

/** POPUP **/
a.popup-link {
    padding:17px 0;
    text-align: center;
    margin:7% auto;
    position: relative;
    width: 300px;
    color: #fff;
    text-decoration: none;
    background-color: #FFBA00;
    border-radius: 3px;
    box-shadow: 0 5px 0px 0px #eea900;
    display: block;
}
a.popup-link:hover {
    background-color: #ff9900;
    box-shadow: 0 3px 0px 0px #eea900;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}
/* end link popup*//*style untuk popup */
#popup {
    visibility: hidden;
    opacity: 0;
    margin-top: -200px;
}
#popup:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}

@media (min-width: 768px){
    .popup-container {
    width:600px;
    }
}

@media (max-width: 767px){
    .popup-container {
    width:100%;
    }
}
.popup-container {
    position: relative;
    margin:7% auto;
    padding:30px 50px;
    background-color: #004a73;
    color:#fff;
    border-radius: 3px;
}

a.popup-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #fff;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#333;
}

    