@model PoleFrance.RouteConfig


@{
    ViewBag.Title = "Index";
}

<div class="contenu">

    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Gestion Responsable </h1>
                    <span>Bienvenue sur la page dédiée à la gestion du responsable : </span>
                    <span>@ViewBag.texte</span>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="arrow-down-white"></div>

    </div>
    <div class="arrow-down-blue"></div>


    <div id="form-div-big">

     


    </div>









</div>