<div class="start">
    <div class="start-total">
        <div class="start-intermediaire">
            <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
            </a>
            <div class="start-content">
                <h1> Inscriptions Pôles </h1>
                <span>Bienvenu sur la page dédiée à l'inscription aux différents Pôles France, IJ et INSEP.</span>
            </div>
        </div>
    </div>
</div>
<div class="arrow-down"></div>