
@{
    ViewBag.Title = "Inscription2";
}

@model PoleFrance.Models.CandidatureViewModel

<div class="contenu">
    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Inscriptions Pôles </h1>
                    <span>Bienvenue sur la page dédiée à l'inscription aux différents Pôles France, IJ et INSEP.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="start-total">
            <div class="arrow-down-white"></div>
            <div class="start-intermediaire">
                <div class="icon-number-2"></div>
                <div class="start-content-white">
                    <h2> Deuxième étape : </h2>
                    <span> - Les différentes informations qui ont pu être retrouvées sont préalablement remplies, 
                    il vous reste vos informations scolaires et sportives à mentionner.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-down-blue"></div>
    <div id="form-div">
    </div>
</div>
