@model PoleFrance.Models.Candidature
<div class="contenu">
    <div class="start">
        <div class="start-total">
            <div class="start-intermediaire">
                <a href="http://www.ffjudo.com/" id="logo" title="retour Accueil">
                    <img src="~/Content/Images/logo.png" alt="Fédération Française de Judo">
                </a>
                <div class="start-content">
                    <h1> Inscriptions Pôles </h1>
                    <span>Bienvenue sur la page dédiée à l'inscription aux différents Pôles France, IJ et INSEP.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="etape1">
        <div class="start-total">
        <div class="arrow-down-white"></div>
            <div class="start-intermediaire">
                <div class="icon-number-1"></div>
                <div class="start-content-white">
                    <h2> Première étape : </h2>
                    <span> - Pour simplifier votre inscription, veuillez renseigner votre numéro de licence. Grâce à celui-ci la plupart de vos informations seront remplies automatiquement.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="arrow-down-blue"></div>
    <div id="form-div">
    @using (Html.BeginForm("Inscription", "Home"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorFor(model => model.NumLicencie, new { htmlAttributes = new {@autocomplete="off", @class = "feedback-input", @placeholder = "Numéro de licence", @id = "icon-tete" } })
        @Html.ValidationMessageFor(model => model.NumLicencie, "", new { @class = "text-danger" })
        <div class="submit">
            <input type="submit" value="Rechercher vos informations" id="button-blue" />
            <div class="ease"></div>
        </div>
    }
    </div>
</div>